<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#">Strona główna</a>
      <a class="blog-nav-item" href="#">Przepisy</a>
      <a class="blog-nav-item" href="#">Porady</a>
      <a class="blog-nav-item" href="#">O mnie</a>
      <a class="blog-nav-item" href="#">Kontakt</a>
    </nav>
  </div>
</div>
